{% assign trans = site.data.values[site.lan] %}
<div class="sidebar well">
    <header class="sidebar-header" role="banner">
        <a>
            <img src="/assets/images/profile.png" class="img-circle pad-img" />
        </a>
        <!--
        <h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
        </h3>
        -->
    </header>
    <div class="text-center">
            <p></p>
            <h3>0xA2</h3>
            <hr>
            <h5>Computer Science and Mathematics student.</h5>
            <h5>Cryptography nerd. Infosec enthusiast.</h5>
            <hr>
            
    </div>
</div>



<div class="sidebar well">
    <hr>
        <h5>Welcome to my website, here you can find more about my projects, stuff I've written about computer science and math, challenge write-ups, and more.</h5>
     <hr>   
</div>

<div class="sidebar well">
    <hr>
    <h5><b>Contacts and Social Networks:</b></h5>
        <ul>
            <li><a  onclick="alert('\x30\x78\x41\x32\x40\x70\x72\x6f\x74\x6f\x6e\x6d\x61\x69\x6c\x2e\x63\x6f\x6d')"><font color="#fff">Email</font></a></li>
            <li><a href="https://twitter.com/LostMyPlaintext"><font color="#fff">Twitter</font></a></li>
            <!-- sUsP1ci0uS5trIng -->
            <li><a href="https://github.com/0xA2"><font color="#fff">Github</font></a></li>
        </ul>
    <hr>
</div>
